airbnb_properties_london2020.html
question1.ipynb
img_6315.jpeg
London-mediumblogimage-marioloaiza-project1.jpeg
Question_1_extra.ipynb
Question4.ipynb
Question3.ipynb
Question2.ipynb
Initial_listing_cleaning.ipynb
Untitled1.ipynb
Img_6315.jpg
Untitled.ipynb
Question1-copy1.ipynb
Checking_airbnb_london_data.ipynb
Dataairbnb.xlsx
Datascience-airbnblondon-one.py
